body {
  
}

.container {
  margin-top: 300px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: 'Lato'; }

.time {
  font-size: 100px;
  // color:lightblue;
  // background-color: white;
  width:500px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
}

.color {
   font-size: 50px;
  // color:lightblue;
  // background-color: white;
  width:500px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
}