.container {
  margin-top: 300px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  width: 50%;
  padding: 10px;
  border: 1px white solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  opacity: 0.5;
  text-align: center;
  font-family: "Lato";
  opacity: 0.5;
  color: white;
  font-weight: 100; }

.container .time {
  font-size: 100px;
  margin-right: auto;
  margin-left: auto; }

.container .color {
  font-size: 50px;
  margin-right: auto;
  margin-left: auto; }
